
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="imagecontainer row">
            <div class="col-lg-4 justify-content-start" id="newsimage"></div>
            <div class="col-lg-4 justify-content-start" id="anniversary_image"></div>
        </div>

        <button id="togglebutton" onclick="hidebutton()" class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fw-bold" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link" href="#">About Us<span class="sr-only"></span></a>
                <a class="nav-item nav-link " href="#whatwedo">What We Do</a>
                <a class="nav-item nav-link " href="#contact">Contact Us</a>
                <a class="nav-item nav-link " href="#resource">Resources</a>
                <a class="nav-item nav-link " href="#youth">Youth</a>
                <a class="nav-item nav-link " href="#news">News</a>
                <a class="nav-item nav-link " href="#faq">FAQ</a>
                <a class="nav-item nav-link  " href="#blog">Blogs</a>
                <button type="button" id="btnbutton" class="btn btn-outline-danger rounded-0 fw-bold">Our
                    Products
                </button>
            </div>
        </div>
    </nav>

    <nav class="secoundnavbar navbar-expand-lg border-bottom">
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
            <a href="" class="Counsellingcontact-link ">Alokaya Counselling Centre |
                            0779895252</a>
                    </div>
         <div class="carousel-item">
                        <a href="" class="lifecentercontact-link ">Happy Life Centre | 0765884881</a>
                    </div>
                    <div class="carousel-item">
                        <a href="" class="asksri-link ">Ask SriBETA | Chat Now</a>
                    </div>
                </div>
            </div>
            <div class="row header_cont col-lg-12">
                <div class="font_size_row col-lg-2">
                    <div class="font_resize font_size_row alo_fon_s">
                        <a href="javascript:" class="changer" id="text_resize_decrease"><sup></sup>A</a>
                        <a href="javascript:" class="changer" id="text_resize_reset">A</a>
                        <a href="javascript:" class="changer" id="text_resize_increase"><sup></sup>A</a>
                        <div id="text_resize_clear"></div>
                    </div>
                </div>
                <div class="contactlist col-lg-9">
                    <div class="Counsellingcontact col-lg-3">
                        <a href="" class="Counsellingcontact-link ">Alokaya Counselling Centre |
                            0779895252</a>
                    </div>
                    <div class="lifecentercontact col-lg-3">
                        <a href="" class="lifecentercontact-link ">Happy Life Centre | 0765884881</a>
                    </div>
                    <div class="asksri col-lg-3">
                        <a href="" class="asksri-link ">Ask SriBETA | Chat Now</a>
                    </div>
                    <div class="btn-Product">
                        <p>Products</p>
                    </div>
                </div>
            </div>

        </div>
    </nav>
