* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: none;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-collapse .navbar-nav {
    display: flex;
}

.newsnavbar {
    height: 100px;
    background-color: rgb(216, 130, 19);
    padding-top: 63px;
}

#newsimage {
    width: 90px;
    height: 90px;
    vertical-align: middle;
    bottom: 0px;
    background-image: url("../images/logo.jpg");
    background-size: cover;
}

#anniversary_image {
    width: 121px;
    height: 90px;
    vertical-align: middle;
    bottom: 0px;
    top: 0;
    background-image: url("../images/70-years-logo.jpg");
    background-size: cover;
}

.imagecontainer {
    display: flex;
    margin-left: 50px;
}

.newstopnav a {
    float: left;
    color: #807979;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.secoundnavbar {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    height: 60px;
    background-color: #f37d30;
    border-bottom: 10px solid #ffc121;
}

p {
    font-size: 1rem;
}


.font_resize {
    display: flex;
    justify-content: space-evenly;
    /* justify-items: center; */
    align-items: baseline;
}


.contactlist {
    display: flex;
    justify-content: space-around;
    display: -webkit-inline-flex;
    align-items: center;
}

.font_resize a {
    float: left;
    font-size: 16px;
    font-weight: bold;

}

ul a {
    color: white;
}

.font_resize .changer {
    color: white;
}


#text_resize_decrease {
    font-size: 17px;
    position: relative;
    bottom: -2px;
}

#text_resize_reset {
    font-size: 20px;
    position: relative;
    bottom: 2px;

}

#text_resize_increase {
    font-size: 22px;
    bottom: 5px;
    left: -6px;
    position: relative;
}

.languages {
    font-size: 17px;
    list-style-type: none
}


a.Counsellingcontact-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;

}

a.lifecentercontact-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    top: 12px;
}

.asksri-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    top: 12px;
}


#title h3 {
    font-family: FjallaOne-Regular;
    font-weight: bold;
    font-size: 28px;
    color: #1c2674;

}

.body.row.d-flex.justify-content-start {
    position: relative;
    top: -161px;
    font-family: 'Cormorant Garamond', serif;
}

.newsbody.row {
    position: relative;
    top: -142px;
    font-family: 'Cormorant Garamond', serif;
}

.lifecentercontact-linka :hover {
    color: #f1172d;
}

.open-search {
    visibility: visible;
}

.btn {
    border-radius: 10px;
}

.collapse .navbar-nav .nav-link {
    color: #807979;
}

.navbar-collapse {
    padding: 0px 60px;
}


.myFunction {
    visibility: visible;
    transition: transform 0.4s, 0.4s;
}

.container-inline div, .container-inline label {
    display: inline;
}

#togglebutton {
    max-width: none;
    background-color: #ffc121;

}

.row.header_cont {
    /* display: flex; */
    display: flex;
    height: 60px;
    align-items: center;
}

.main-content__container.container {
    position: relative;
    bottom: 50px;
}

.btn-Product {
    visibility: hidden;
}

.page-wrapper {
    max-width: none;
    background: #fff;
    background-image: none;
}

.carousel-inner {
    display: none;
}

@media screen and (max-width: 1000px) {
    .font_resize {
        visibility: hidden;
    }

    .font_size_row {
        visibility: visible;
        width: 170px;
    }

    .contactlist {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 800px) {
    .font_resize {
        visibility: hidden;
        justify-content: space-evenly;
    }

    .font_size_row {
        visibility: visible;
        width: 170px;
    }

}

@media screen and (max-width: 768px) {

    form {
        visibility: hidden;
    }

    .btn-Product {
        display: flex;
        justify-content: center;
        visibility: visible;
        position: absolute;
        font-weight: bold;
        color: white;
        border: 2px solid rgb(236, 236, 236);
        height: 37px;
        width: 101px;
        right: 19px;
        top: 101px;
    }

    .carousel-inner {
        display: block;
        display: flex;
        width: min-content;
        width: 40%;
        align-items: center;
        height: 60px;
        overflow: hidden;
    }

    .font_resize {
        display: none;
    }

    .Counsellingcontact {
        display: none;
    }

    .lifecentercontact {
        display: none;
    }

    #asksri-link {
        display: none;
    }

    .languages a {
        color: black;
        font-weight: bold;
    }

    .news_image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #newsimage {
        width: 60px;
        height: 60px;

    }

    #anniversary_image {
        width: 100px;
        height: 75px;

    }

    .carousel-inner {
        visibility: visible;
        display: flex;
        width: min-content;
        width: 40%;
        align-items: center;
        height: 60px;
        overflow: hidden;
    }

    .footerContact {
        display: flex;
        flex-wrap: wrap;
    }

    .sub_row_before_btn {
        display: flex;
        justify-content: flex-end;
        padding: 29px;
        height: 83px;
        background-color: #f37d30;
        align-items: center;
    }
}

@media screen and (max-width: 560px) {
    .logo_col {
        position: relative;
        top: 64px;
        height: 0;
    }

    .social {
        position: relative;
        top: 64px;
        height: 0;
    }

    .footerForyou {
        position: relative;
        top: 64px;
        height: 0;
    }

    .footerlinks {
        position: relative;
        top: 64px;
        height: 0;
    }

    .footerContact {
        position: relative;
        top: 64px;
    }
}

